$baseBlackColor: #212121;

$baseTextColor: #6f6f6f;
$darkTextColor: #4d4d4d;
$grayTextColor: #9796aa;
$easierWhite: #c7c7c7;
$lightTextColor: #cfcfd7;

$lightPink: #a3737d;
$lightRed: #ee8888;
$brown: #773d1c;
$purple: #9f30b1;
