$baseBlackColor: #212121;

$baseTextColor: #6F6F6F;
$darkTextColor: #4D4D4D;
$grayTextColor: #9796AA;
$easierWhite: #c7c7c7;
$lightTextColor: #CFCFD7;

$lightPink: #A3737D;
$brown: #773D1C;
$purple: #9F30B1;