@import 'styles/colors.module.scss';
@import 'styles/fonts.module.scss';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: $baseBlackColor;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  font-weight: 500;

  color: $darkTextColor;
}