@import "Styles/utils.module.scss";

.root {
  position: relative;

  height: 1100px;
  padding-top: 150px;

  .heading {
    text-align: center;
  }

  .aboutline {
    z-index: 1;
    position: relative;

    width: 100%;

    .heading {
      text-align: center;
    }

    .aboutlineImageBlock {
      position: absolute;
      top: 130px;
      left: 50%;

      transform: translateX(-50%);

      .aboutlineImage {
        // position: absolute;
        // left: 50%;

        // transform: translateX(-50%);
      }
    }

    .aboutStages {
      .aboutStage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;
        margin-top: 140px;

        .title {
          width: 180px;

          font-family: Oswald;
          font-size: 26px;
          font-weight: normal;
          text-align: right;
          line-height: 3;

          background: #9b56e0;
          background: linear-gradient(to left, #9b56e0 0%, #ee8888 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .descr {
          text-align: left;
          max-width: 256px;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }

  // .bg {
  //   z-index: -1;
  // }
}
