@import "styles/colors.module.scss";

.root {
  .subHeading {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 20px;
    line-height: 93.69%;

    color: $lightRed;
  }

  .mainHeading {
    font-family: Oswald;
    font-weight: normal;
    font-size: 34px;
    line-height: 107%;

    color: white;
  }

  @media (max-width: 780px) {
    .subHeading {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .mainHeading {
      font-size: 24px;
    }
  }
}
