.root {
  position: relative;

  display: flex;
  align-items: center;
  width: fit-content;
  padding: 18px 36px;

  background: linear-gradient(90deg, #66434A -9.26%, #EE8888 117.96%);

  cursor: pointer;
  user-select: none;

  .text {
    margin-right: 20px;

    font-family: 'Oswald', monospace;
    font-size: 18px;
    font-weight: 300;
    line-height: 29.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: white;
  }

  .icon {
    transition: transform 0.3s ease;
  }

  .stars {
    z-index: -1;
    position: absolute;

    right: -88px;
    bottom: -76px;

    pointer-events: none;
  }

  &:before {
    content: "";

    z-index: -1;
    position: absolute;
    left: -5px;
    bottom: -6px;

    width: 42px;
    height: 42px;

    border-left: 1px solid #66434A;
    border-bottom: 1px solid #66434A;
    
    pointer-events: none;
  }

  &:hover {
    .icon {
      transform: translateX(5px);
    }
  }

  @media (max-width: 1050px) {
    .stars {
      width: 50px;
      right: -45px;
      bottom: -40px;
    }

    .text {
      margin-right: 15px;

      font-size: 16px;
      line-height: 23.5px;
    }
  }

  @media (max-width: 900px) {
    .stars {
      right: -40px;
      bottom: -45px;
      transform: rotate(90deg);
    }

    .text {
      font-size: 14px;
      line-height: 21.5px;
    }

    .icon {
      width: 35px;
    }
  }

  @media (max-width: 630px) {
    padding: 14px 26px;

    .text {
      font-size: 13px;
      line-height: 16.5px;
      margin-right: 8px;
    }

    .icon {
      width: 23px;
      height: 25px;
    }
    
    .stars {
      bottom: unset;
      right: -28px;
      top: -30px;

      width: 30px;
    }
  }
}